<mat-card class="nawigacja">
  <div class="content">
 
      <div id="jeden">
     <mat-card class="tloObrazka">
      <span class="tekstLogo">Find<span style="color: #d50000;">P</span>rinter</span> 
     </mat-card>
    </div>
      <div id="dwa">
       
        <mat-card class="tloObrazka">
          Home
        </mat-card>
</div>
      <div id="trzy" (click)="profilPoka()">
        <mat-card class="tloObrazka">
          <img class="obrazek" src="http://78.media.tumblr.com/764a7a5b55c400887a366fc95327345a/tumblr_n2b3bzPfgI1r4xjo2o1_250.gif" />
          <i id="ikona" class="fa fa-chevron-down"></i>
          
</mat-card>
        <mat-card *ngIf="poka" class="profil">
          <mat-card (click)="prowadz(1)" class="wyborProfil">
            Wiadomosci
          </mat-card>
          <mat-card (click)="prowadz(2)" class="wyborProfil">
           Moj profil
          </mat-card>
          <mat-card (click)="prowadz(3)" class="wyborProfil">
            Wyloguj
          </mat-card>
        </mat-card>
      </div>

  </div>
</mat-card>
