.nawigacja {
  position: absolute;
  top: 5px;
  left: 0.5vw;
  z-index: 1000;
  width: 99.5vw;
  padding: 0.25% 0.5%;
  background: #F5F5F5;
}
#jeden {
  flex-grow: 1;
  width: 7.5vw;
  height: 56px;
}
#dwa {
  flex-grow: 6;
  height: 56px;
}
.obrazek {
  border-radius: 50%;
  width: 46px;
}
.tloObrazka {
  padding: 5px;
  height: 100%;

}
.tekstLogo {
  font-size: 32px;
  font-family: Roboto;
  color: #212121;
}
.profil {
  position: absolute;
  width: 184px;
}
.szerokosc {
  width: 184px;
}
.poPrawej {
  float: right;
  margin-top: 12px;
  margin-right: 16px;
}
.wyborProfil:hover {
  background: #bdbdbd;
}
@media only screen and (max-width: 1360px) {
  #jeden{
    width: 13.5vw;
  }

  }
@media only screen and (max-width: 1000px) {
  .nawigacja{
    width: 99%;
  }
}
