<div class="tlo">

</div>
<mat-card class="centro">
  <form class="example-form">
    <mat-form-field class="inpu">
      <input matInput placeholder="Email" [(ngModel)]="login" name="login">
    </mat-form-field>
    <br />
    <mat-form-field class="inpu">
      <input matInput placeholder="Haslo" [(ngModel)]="pass" name="pass">
    </mat-form-field>
    <mat-form-field class="inpu">
      <input matInput placeholder="Imie" [(ngModel)]="imie" name="imie">
    </mat-form-field>
    <mat-form-field class="inpu">
      <input matInput placeholder="Nazwisko" [(ngModel)]="nazwisko" name="nazwisko">
    </mat-form-field>
    <button mat-raised-button class="przycisk" (click)="rejestracja()">Rejestracja</button>
  </form>

</mat-card>
