﻿.tlo {
  background-color: #424242;
  height: 100vh;
}
.inpu{
  width: 100%;
}
.centro {
  font-size:20px;
  position: absolute;
  top: 10%;
  left: 30%;
  
  width: 40%;
  height: 60%;
}

.przycisk {
  margin-top: 10px;
  float: right;
}

  .przycisk::after {
    content: "";
    clear: both;
    display: table;
  }
