<div class="container-fluid">
    <div class="row">
      <div class="flexo">
        <mat-card class="karta" id="lewe">
          Dodaj drukarke

          <mat-form-field class="full-width">
            <input matInput placeholder="Nazwa" [(ngModel)]="nazwa" name="nazwa">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Lokalizacja" [(ngModel)]="lokalizacja" name="lokalizacja" (ngModelChange)="onLokalizacja($event)">
            <div class="lista" *ngIf="zwrot">
              <ul *ngFor="let i of zwrot">
                <li (click)="propozycja($event)">{{i.adres}}</li>

              </ul>
            </div>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Nazwa">
          </mat-form-field>
          <button class="poPrawej" mat-raised-button (click)="pokaDetale()">Dalej</button>



        </mat-card>

        <mat-card *ngIf="detale" class="detale">
          <div class="wrap">
            <div class="przycisk" (click)="pokaDetale()"><i class="fa fa-chevron-left strzalka"></i></div>
            <div class="prawy"></div>
          </div>
          <div class="pad">
            <div class="rowo">
              <div id="odin" class="opis">

                <textarea class="form-control" [(ngModel)]="opis1" placeholder="Opis pierwszy" rows="3"></textarea>
              </div>
              <div id="dwa" class="opis">

                <textarea class="form-control" [(ngModel)]="opis2" placeholder="Opis drugi" rows="3"></textarea>
              </div>


            </div>
            <div class="row">
              <div class="col-sm-12">
                <button class="poPrawej" mat-raised-button (click)="dodaj()">Dodaj</button>
              </div>

            </div>
          </div>
        </mat-card>
      </div>
    <div class="tlo">
      <div id="map">

      </div>
    </div>
  </div>
</div>

