.flexo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.karta {
  /*position: absolute;
  top: 0;
  left: 0;
    */
  height: 94vh;
  z-index: 1;
  
  margin-left: 10px;
  width: 20vw;
}
.detale {
  width: 80vw;
}

.rowo {
  display: flex;
  width: 100%;
 
}

#odin {
  flex-grow: 1;
  padding: 10px;
}

#dwa {
  flex-grow: 1;
  padding: 10px;
}
.strzalka{
  display: none;
}
@media only screen and (max-width: 1360px) {
  .karta {
    width: 30vw;
  }
}
@media only screen and (max-width: 800px) {
  .karta {
    width: 44vw;
  }
  .rowo {
    display: block;
  }
}
@media only screen and (max-width: 580px) {
  .karta {
    width: 95vw;
  }
  .detale {
    width: 95vw;
    height: 94vh;
    margin-left: 10px;
    padding: 0;
  }
  .wrap {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
  }
  .przycisk {
    flex-grow: 0.25;
    height: 6vh;
    background: #616161;
  }
  .prawy {
    flex-grow: 2;
    background: #bdbdbd;
  }
  .pad{
    padding: 10px;
  }
  .strzalka {
    display: inline-block;
    font-size: 2em;
    color: #fafafa;
    margin: 1.4vh 25%
  }

  }

@media only screen and (max-height: 860px) {

  .przycisk {
    height: 9vh;
    
  }
  .strzalka {
    margin: 2.2vh 25%
  }


}

  /*.detale {
  position: absolute;
  top: 0;
  left: 20vw;
  margin-top: 10px;
  width: 80vw;
  height: 94vh;
  z-index: 1;
}*/
  #map {
    width: 100%;
    height: 100vh;
  }

  .tlo {
    width: 100%;
    z-index: -1;
  }

  .poPrawej {
    float: right;
  }

    .poPrawej::after {
      content: '';
      clear: both;
      display: table;
    }

  .full-width {
    width: 100%;
  }

  .lista {
    position: absolute;
    background: #9e9e9e;
    z-index: 5;
    margin-top: 8px;
    width: 100%;
  }

    .lista ul {
      color: #fafafa;
      padding-bottom: 0;
      padding-left: 0;
      margin-bottom: 0;
    }

      .lista ul li {
        list-style-type: none;
        border-bottom: 1px solid #eeeeee;
        padding: 5%;
      }

  .opis {
    border: 1px solid green;
    height: 25vh;
  }

    .opis textarea {
      height: 20vh;
    }
