.wrap {
  position: absolute;
  display: flex;
  font-size: 16px;
}
#logoKrasusKi {
 display: grid;
 grid-template-columns: auto 1fr auto;
}
  #logoKrasusKi > div {
    height: 10vh;
    text-align: center;
    width: 70vh;
    font-size: 68px;
    font-family: Roboto;
    background: #616161;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    color: #f5f5f5;
  }
.lewy {
    color: #eeeeee;
    border: 0.5px solid #fafafa;
    z-index: 5;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2%;
    width: 77vw;
    padding: 4%;
    height: 89vh;
  }

.prawy {
  border: 0.5px solid #fafafa;
  z-index: 5;
  height: 89vh;
  margin-top: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  width:22vw;

  padding: 2%;
}

.baner {
  font-family: 'Lato', sans-serif;
  color: #fafafa;
  font-size: 4.5em;
  margin-bottom: 5%;
  font-weight: 300;
}

.wpisz {
  width: 100%;
  border-left: 0;
  padding: 10px;
  border-right: 0;
  border-top: 0;
  margin-top: 5%;
  font-size: 30px;
  background: none;
  color: #fafafa;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
}

  .wpisz:focus {
    outline: none;
    border-right: 1px solid #b71c1c;
    border-left: 1px solid #b71c1c;
    border-top: 1px solid #b71c1c;
    border-bottom: 1px solid #e0e0e0;
  }

@media only screen and (max-width: 1600px){
  .baner{
    font-size: 3.5em;
  }
  .lewy{
    margin-left: 2%;
  }
  .prawy{
    margin-right: 1%;

  }
  .margines{
    margin-bottom: 2vh;
  }
}

@media only screen and (max-width: 1250px) {
  .baner {
    font-size: 2.5em;
  }
  .lewy{
    width: 72vw;
  }
  .prawy{
    width: 27vw;
  }

}
  @media only screen and (max-width: 1000px) {
    .wrap {
      display: block;
      z-index: 6;
    }

    .lewy {
      height: 66vh;
      width: 95vw;
    }

    .prawy {
      margin-top: 1%;
      width: 95vw;
      height: 26vh;
      margin-left: 2%;
    }
  }

  @media only screen and (max-width: 500px){
    .baner {
      font-size: 1.9em;
    }
    .btn-lg {
      font-size: 1em;
      margin: 0 5%;
      width: 90%;
      padding: 0.5em 0;
      margin-top: 3vh;
    }
    .wpisz{
      font-size: 1.5em;
    }
    #filtro{
      opacity: 0.93;
    }
  }

  .video {
    width: 100%;
    height: 100vh;
    background: black;
  }

  .filtr {
    position: absolute;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1;
  }



  .przy {
    border-radius: 0;
  }




  .lista {
    border-radius: 0;
    background: none;
  }

    .lista:focus {
      opacity: 0.5;
    }

    .lista:hover {
      opacity: 0.5;
      cursor: pointer;
    }


  .znajdz {
    width: 50%;
    float: right;
    margin-top: 5%;
  }

    .znajdz::after {
      content: '';
      clear: both;
      display: table;
    }
