
<div class="video">
  <div class="filtr" id="filtro"></div>
  <div class="wrap">
    <div class="lewy">
      <h1 class="baner">Znajdź Drukarke!</h1>
      <input type="text" class=" wpisz" id="adres" [(ngModel)]="adres" (ngModelChange)="onTap($event)" (focusout)="focOut()" placeholder="Podaj swoją lokalizacje" value="{{szukaj}}">
      <div *ngIf="zwrot">
        <ul class="list-group" *ngFor="let l of zwrot">
          <li class="list-group-item lista" (click)="propozycja($event)">{{l}}</li>
        </ul>
      </div>
      <div class="znajdz">
        <button type="button" class="btn btn-outline-success  btn-lg btn-block przy" (click)="znajdz()">Znajdz</button>
      </div>

    </div>
    <div class="prawy">
      <h1 class="baner margines">Dodaj Drukarke!</h1>
      <button type="button" class="btn btn-outline-primary  btn-lg btn-block przy" (click)="dodaj()">Dodaj</button>

    </div>
  </div>
  <video src="../assets/lolo.mp4" no-controls autoplay loop style="width: 100%; height: 99vh;   object-fit: fill; z-index: -5"></video>

</div>


<div id="logoKrasusKi">
  <div>
    KrasusKi
  </div>
</div>
