.ramki {
  height: 90vh;
 
  width: 100%;
}

.czat {
  height: 82%;

}

.pisz {
  height: 18%;

}

.full-width {
  width: 100%;
  padding-bottom: 0;
}
.panel {
  margin-top: 79px;
  background: #F5F5F5;
  padding: 0;
}
.wyslij {
  margin-top: 7px;
}

.okno {
  height: 100%;
  overflow-y: scroll;
  padding-left: 0;
}

.wiadomoscTekst {
  background: #311b92;
  padding: 10px;
  color: white;
}

.listaKontaktow {
  height: 100%;
}

.oznaczenie {
  background: #757575;
  color: #fafafa;
}
#lewa {
  flex-basis: 0;
  flex-grow: 3;
}
#prawa {
  flex-basis: 0;
  flex-grow: 1;
}

.kontakty {
  display: none;
}
.content {
  display: flex;
  width: 100%;
  flex: 1;
  color: #fafafa;
  height: 90vh;
}
.rowo{
  display: flex;
  width: 100%;
}
.tekstW {
  flex-grow: 3;
}
.buttonW{
  flex-grow: 1;
  margin-left: 5px;
}
@media only screen and (max-width: 850px) {
  .kontakty {
    display: flex;
    height: 5vh;
    padding: 0;
    margin-bottom: 8px;
  }

  .przyciskK {
    flex-basis: 0;
    flex-grow: 1;
    background: #616161;
  }

    .przyciskK > i {
      font-size: 28px;
      margin: 6px;
      margin-left: 28px;
      color: #fafafa;
      margin-right: 28px;
    }

  .tekstK {
    flex-basis: 0;
    flex-grow: 3;
    background: #bdbdbd;
    color: #fafafa;
    padding: 7px;
    font-family: Roboto, sans-serif;
    font-size: 21px;
  }

    .tekstK > p {
      margin-left: 1vw;
    }

  .spaceK {
    flex-basis: 0;
    flex-grow: 5;
    background: #bdbdbd;
  }

  #lewa {
    flex-grow: 2;
  }

  .znika {
    flex: .00001;
    display: none;
  }

  .pojwaia {
    display: block;
    flex: 1;
    transition: 1s;
  }
  .content{
    flex-direction: row-reverse;
  }

}
@media only screen and (max-height: 750px) {

  .kontakty {
    height: 47px;
  }
  .przyciskK > i {
    margin-right: 28px;
  }

}
