/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.avatarWiadomosci {
  width: 75px;
  height: 75px;
  margin-top: 2rem;
}

.wiadomoscPrzychodzaca {
  min-width: 3vw;
  display: inline-block;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  background: #311b92;
  padding: 10px;
  color: white;
  max-width: 70%;
  margin-top: 20px;
  border-radius: 23px;
}
  .wiadomoscPrzychodzaca p {
    font-family: "Roboto";
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    width: 100%;
  }
 .wrapMoja{
   
    width: 100%;
  }
.mojaWiadomosc {
  float: right;

  display: inline-block;
  overflow: hidden;
  word-break: break-word;
  border-radius: 23px;
  background: #1b5e20;
  padding: 10px;
  color: white;
  max-width: 70%;
  margin-left: 30%;
  margin-top: 20px;
  padding-top: 20px;
}
  .mojaWiadomosc p {
    font-family: "Roboto";
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    width: 100%;
  }

.wrapMoja::after {
  content: '';
  clear: both;
  display: table;
}
.content{
  display: flex;
  width: 100%;
}
.zObrazkeim {
  width: 87px;
  margin-left: 1.5vw;
}
