<div class="wrap">

  <mat-card class="karta" id="lewe">
    <mat-form-field class="lokalizacja">
      <input matInput placeholder="Lokalizacja" id="lokalizacja" [(ngModel)]="lokalizacja" (ngModelChange)="onTap($event)" name="lokalizacja" value="{{lokalizacja}}">
      <div class="lista" *ngIf="zwrot">
        <ul *ngFor="let i of zwrot">
          <li (click)="propozycja($event)">{{i}}</li>
        </ul>
      </div>
    </mat-form-field>

    <hr />
    <div class="conteiner-fluid">
      <div *ngFor="let n of tab">

        <mat-card class="kartki" (click)="poka(n.Xero,$event)">

          <div class="rowo2">
            <div id="nazwaX">
              {{n.Xero.Nazwa}}
            </div>
            <div id="kilometry">
              <span class="odstepKarty">{{n.odleglosc}}</span>
            </div>
          </div>



        </mat-card>

      </div>
    </div>
  </mat-card>

  <mat-card *ngIf="pokaDetale" id="prawa" class="detale">
    <div class="wrapo">
      <div class="przycisk" (click)="poka(null,null)"><i class="fa fa-chevron-left strzalka"></i></div>
      <div class="prawy"></div>
    </div>
    <div class="pad">
      <div class="wrap2">
        <div class="tytulo">
          <h1 class="tytul">{{tytul}}</h1>
        </div>
        <div class="napiszDoMnie">
          <button mat-raised-button (click)="czat()"><i class="fa fa-comments"></i></button>
        </div>
        <div class="avatar">
          <img src="{{avatar}}" class="rounded-circle" />
        </div>
      </div>

      <hr id="linia" />

      <div class="rowo">

        <div class="oceny">
          <mat-card>

            <div class="rowo3">
              <div class="text-center thumb" id="up">
                <i class="fa fa-thumbs-o-up"></i>
                <br />
                <p class="marginTekst">{{gora}}</p>
              </div>
              <div class="text-center thumb" id="down">
                <i class="fa fa-thumbs-o-down"></i>
                <br />
                <p class="marginTekst">{{dol}}</p>
              </div>
            </div>

            <div class="proges">
              <mat-progress-bar value="{{wynikLapki}}" mode="determinate"></mat-progress-bar>
            </div>
          </mat-card>
        </div>

        <div class="opis">


          <div class="samopis">
            <mat-card class="kartaOpisu">
              <p *ngIf="odin">{{opis1}}</p>
              <p *ngIf="dwa">{{opis2}}</p>
            </mat-card>
          </div>


          <div class="zmiany">
            <div class="centero">
              <div class="kolo"><div *ngIf="odin" class="kolo2"></div></div>
              <div class="kolo"><div *ngIf="dwa" class="kolo2"></div></div>
            </div>
          </div>

        </div>
      </div>
      <div class="pils">
        <mat-card class="detaleCont">


          <mat-card class="kartaWyboru">
            <div class="wybor">

              <div class="wyboro" [class.oznaczenie]="tablica[0]" (click)="zmianka(0)"><p class="text-center marginTekst">Opcje</p></div>
              <div class="wyboro" [class.oznaczenie]="tablica[1]" (click)="zmianka(1)"><p class="text-center marginTekst">Opinie</p></div>
              <div class="wyboro" [class.oznaczenie]="tablica[2]" (click)="zmianka(2)"><p class="text-center marginTekst">Dodaj Opinie</p></div>

            </div>
          </mat-card>
          <div *ngIf="tablica[0]">
            <div class="grido">
              <mat-card class="usuwaniePadd">
                <div  id="plik">
                  <div class="wielkosc">
                    <div id="tekstW"><label class="odstepo doInputa">Wybierz plik do wydruku: </label></div>
                    <div id="drukarkaW">
                      <label id="drukarka" (change)="read($event)">
                        <input type="file" />
                        <i class="fa fa-print"></i> Wydrukuj to
                      </label>
                    </div>
                  </div>
                </div>
              </mat-card>
        <!--
            <div class="opcje">
              <div class="wielkosc">
                <mat-select placeholder="Format" class="formatSelekt doInputa" (change)="onFormat($event)">
                  <mat-option disabled [value]="f" *ngFor="let f of formaty">{{f}}</mat-option>

                </mat-select>
              </div>
            </div>
    -->
        <mat-card>
          
            
              <mat-select placeholder="Piorytet" class="formatSelekt doInputa" (change)="onPiorytet($event)">
                <mat-option [value]="p" *ngFor="let p of piorytety">{{p}}</mat-option>

              </mat-select>
          
         
        </mat-card>
        <mat-card>
         
            
              <mat-form-field class="formatSelekt">
                <input matInput [(ngModel)]="iloscKopii" placeholder="Ilosc kopii">
              </mat-form-field>
            
          
        </mat-card>
              <mat-card>
              
                 
                    <p class="doInputa">PLACEHOLDER</p>
                 
              
              </mat-card>
              <mat-card>
                
                  <div class="tekst">
                    <textarea class="form-control textoArea" [(ngModel)]="wiadomosc" placeholder="Wiadomość do xero"></textarea>
                  </div>
               
              </mat-card>
              <mat-card>
                <div class="opcje2">
                  <div class=" kontener">
                    <div class="blok">
                      <p class="doInputa">Ilość stron: {{iloscStron}}</p>
                    </div>
                    <div class="blok">
                      <p class="doInputa">Format: {{format}}</p>
                    </div>

                    <div class="blok">
                      <p class="doInputa">Cena: {{cena}} zł </p>
                    </div>
                  </div>
                </div>
              </mat-card>

                <div class="przyciskP">
                  <div class=" przyci">
                    <button (click)="wyslijTransakcje()" mat-raised-button>Zapłać {{cena}} zł</button>
                  </div>
                </div>

</div>
      </div>
            <div *ngIf="tablica[1]">
              <div class="scroll">
                <div *ngFor="let o of tablicaOpinii" class="row odstep">
                  <div class="col-sm-2">
                    <div class="avatarOpinie">
                      <img src="https://media1.giphy.com/media/gvcpvdloRLlkY/200.webp#7-grid1" class="rounded-circle" />
                    </div>
                    <div class="nazwaUzytkownika">
                      <p class="text-center">{{o.imie}} {{o.nazwisko}}</p>
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <p>{{o.tresc}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="tablica[2]">
              <div class="row odstep2">
                <div class="col-mat-4 szczegouly padDodajOpinie">Transakcja: 203 </div>
                <div class="col-mat-8 ocena ">
                  <div class="row padDodajOpinie">
                    <div class="col-sm-3">
                      <p>Jesteś zadowlony ?</p>
                    </div>
                    <div class="col-sm-3 text-center">
                      <div class="ramka" [class.oznaczenie]="thumbs[0]" (click)="upOrDown(0)"><i class="fa fa-thumbs-o-up"> </i> Tak</div>
                    </div>
                    <div class="col-sm-3 text-center">
                      <div class="ramka" [class.oznaczenie]="thumbs[1]" (click)="upOrDown(1)"><i class="fa fa-thumbs-o-down"> </i> Nie</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row odstep2">
                <div class="col-sm-12">
                  <textarea [(ngModel)]="tresc" class="form-control textoArea" rows="6" placeholder="Napisz opinie"></textarea>
                </div>
              </div>
              <div class="row odstep2">
                <div class="col-sm-12">
                  <button (click)="dodajOpinie()" mat-raised-button class="pull-right">Wyslij opinie</button>
                </div>

              </div>

            </div>


          </mat-card>
  </div>


  </div>
  </mat-card>
</div>
<div id="map">

</div>
<div id="tlo">

</div>
