#map {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.wrap{
  position: absolute;
  display: flex;
  width: 100%;
}
.wrap2 {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
.napiszDoMnie {
  margin-top: 23px;
}
.karta {
  color: #212121;
  background: #F5F5F5;
  height: 88vh;
  z-index: 1;
  margin-top: 79px;
  margin-left: 0.5vw;
  width: 20vw;
}
.lokalizacja{
  width: 100%;
}
.detale {
  background: #f5f5f5;
  color: #212121;
  margin-top: 79px;
  width: 79.5vw;
  height: 88vh;
  z-index: 1;
}
.kartaOpisu {
  height: 100%;
}
.rowo{
  display: flex;
  width: 100%;
}
.rowo2 {
  display: flex;
  width: 100%;
}
.rowo3 {
  margin-top: 1vh;
  display: flex;
  width: 100%;
}
.opis {
  
  height: 20vh;
  flex-grow: 2;
}
.oceny {
  height: 20vh;
  flex-grow: 1;
}
.proges{
  padding: 1vw;
}
#up{
  flex-grow: 1;
}
#down {
  flex-grow: 1;
}

.tytul {
  margin-left: 10px;
  margin-top: 10px;

}
#nazwaX {
  flex-grow: 9;
  overflow: hidden;
  white-space: nowrap;
}
.marginTekst{
  margin-top: 1vh;
}
#kilometry {
  flex-grow: 1;
}
.grido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
}
.wielkosc {
 
  display: flex;
}
.przyciskP {
  grid-column: 2;
}
.opcjeDouble {

  padding-left: 2vw;
  margin-top: 1px;
  width: 100%;
  height: 10vh;
}

.opcje2 {
  padding-left: 2vw;
  margin-top: 1px;
  width: 100%;
  height: 10vh;
}
.wybor {
  height: 7vh;
  display: flex;
}
.kartaWyboru {
  padding:0;

}
.pils {
  height: 48vh;

}
.wrapo {
  display: none;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
}
.przycisk {
  flex-grow: 0.25;
  height: 6vh;
  background: #616161;
}

.prawy {
  flex-grow: 2;
  background: #bdbdbd;
}
.strzalka {
  display: inline-block;
  font-size: 2em;
  color: #fafafa;
  margin: 1.4vh 25%
}
#tlo {
  display: none;
}

.opcje {
  border: 1px solid green;
  padding-left: 2vw;
  margin-top: 1px;
  width: 100%;
  height: 7vh;
}
.wyboro {
  width: 111px;
  border-right: 1px solid black;
  height: 100%;
  padding-top: 11px;
  background: #fff;
  border-right: 1px solid #616161;
  font-family: Roboto;
}

.formatSelekt {
  width: 28vw;
  max-height: 39px;
  padding-top: 0;
}
.detaleCont {
  padding: 10px;
  padding-bottom: 1px;
}
#drukarkaW {
  margin-top: 1vh;
}
  

  .kartki:hover {
    background: #bdbdbd
  }

  #linia {
    margin-top: 9px;
  }

  .skart {
    background: #bdbdbd
  }

  .lista {
    color: #FAFAFA;
    position: absolute;
    background: #616161;
    z-index: 5;
    margin-top: 8px;
    width: 100%;
  }

    .lista ul {
      color: #fafafa;
      padding-bottom: 0;
      padding-left: 0;
      margin-bottom: 0;
    }

      .lista ul li {
        list-style-type: none;
        border-bottom: 1px solid #eeeeee;
        padding: 5%;
      }

  .avatar img {
    max-height: 72px;
  }

  .tytulo h1 {
    margin-top: 20px;
  }




  .przyci {
    height: 10vh;
  }

    .przyci button {
      width: 100%;
      margin-top: 9px;
      height: 7vh;
    }






  .direct {
    width: 43%;
    margin: 0 auto;
    margin-top: 20px;
  }

  md-chip {
    padding: 13px;
    font-size: 18px;
  }

  .konkretna {
    width: 100%;
  }

  .thumb {
    font-size: 26px;
  }

  .samopis {
    height: 16vh;
    font-size: 13px;
   
  }

  .kolo {
    float: left;
    border-radius: 50%;
    width: 15px;
    background: black;
    height: 15px;
    margin-left: 5px;
  }

  .kolo2 {
    float: left;
    border-radius: 50%;
    width: 5px;
    background: white;
    height: 5px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .zmiany {
    height: 5vh;
  }

  .centero::after {
    content: '';
    clear: both;
    display: table;
  }

  .centero {
    width: 10%;
    margin: 0 auto;
    margin-top: 4px;
  }

  input[type="file"] {
    display: none;
  }

#drukarka {
  border: 1px solid black;
  cursor: pointer;
  padding: 6px 12px;
  
}

  .szeroki {
    width: 100%;
    border: 1px pink solid;
    height: 100%;
  }


  .tekst {
    margin-right: 2vw;
  }

  .odstepo {
    margin-right: 1vw;
  }


  .kopiInput {
    width: 100%;
    max-height: 69px;
  }

  .doInputa {
    margin-top: 16px;
  }

  .textoArea {
    margin-top: 8px;
  }

  .avatarOpinie img {
    height: 90px;
    width: 90px;
  }

  .kazdaOpinia {
    margin-top: 1px;
    height: 153px;
    padding: 10px;
    border: 1px solid red;
  }

  .nazwaUzytkownika {
    margin-top: 4px;
    width: 90px;
  }

  .przedOpisem {
    float: left;
  }

  .opisOpinia {
    float: left;
    margin-left: 32px;
    height: 100%;
  }

    .opisOpinia p {
      width: 89%;
    }

    .opisOpinia::after {
      content: "";
      clear: both;
      display: table;
    }

  .odstep {
    padding: 18px;
    margin-right: 1px;
    margin-left: 1px;
    border-bottom: 1px solid black;
  }

  .odstep2 {
    padding: 18px;
    margin-right: 1px;
    margin-left: 1px;
    padding-bottom: 0;
  }

  .szczegouly {
    border: 1px solid green;
  }

  .ocena {
    border: 1px solid green;
  }

  .padDodajOpinie {
    padding: 10px;
  }

  .ramka {
    border: 1px solid black;
  }

  .oznaczenie {
    border-bottom: 2px solid blue;
  }

  .scroll {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 40vh;
    margin-top: 3px;
  }

  .odstepKarty {
    border-left: 1px solid black;
    padding: 10px;
    white-space: nowrap;
  }

  .kontener {
    display: flex;
    width: 100%;
  }

  .blok {
    flex: 1;
  }

@media only screen and (max-width: 1360px) {
  .karta {
    width: 25vw;
  }

  .detale {
    width: 74.5vw;
  }
}
@media only screen and (max-width: 1150px) {
  .usuwaniePadd{
    padding: 0;
  }
  .wielkosc {
    padding: 15px;
  }
}
@media only screen and (max-width: 1000px ) {
  #map {
    height: 119vh;
  }
  .marginTekst{
    margin-top: 0;
  }
  .rowo {
    display: block;
  }
  .pils >md-card{
    padding:0;
  }
  .przyci{
    height: 8vh;
  }
  oceny {
    height: 15vh;
    margin-bottom: 2vh;
  }

  .grido {
    display: block;
  }

  .wielkosc {
    margin-right: 3vw;
    max-width: none;
  }

  .opcjeDouble {
    height: 8vh;
  }

  .opcje2 {
    height: 7vh;
  }

  .wybor {
    height: 5vh;
  }

  .opcje {
    height: 7vh;
  }

  .opis {
    display: none;
  }

  .pils {
    height: 58vh;
  }

  .formatSelekt {
    width: 61vw;
    
  }
  .karta {
    height: 110vh;
  }
  .detale {
    height: 110vh;
  }
}
@media only screen and (max-width: 985px) {
  #prawa {
    padding-right: 0;
    padding-left: 0;
    width: 72.5vw;
  }


}
  @media only screen and (max-width: 900px) {
    #prawa {
      width: 98vw;
      height: 115vh;
      margin-top: 71px;
    }
    #lewe {
      margin-top: 71px;
    }
    .wrapo {
      display: flex;
    }
    #map {
      height: 124vh;
    }
    .formatSelekt{
      width:100%;
      max-width: 83vw;
    }
    .karta {
      width: 96vw;
      margin-left: 1.0vw;
      margin-top: 5px;
    }
  
    .detale {
      padding: 0;
      margin-left: 1.0vw;
      margin-top: 5px;
    }

    .pad {
      padding: 10px;
    }
    .przyci{
      margin-bottom: 3px;
    }
  }

  @media only screen and (max-height: 750px) {
    .oceny {
      height: 17vh;
    }

    .wybor {
      height: 7vh;
    }

    .karta {
      height: 104vh;
    }

    .detale {
      height: 105vh;
    }

    .przycisk {
      height: 7vh;
    }

    .opcjeDouble {
      height: 10vh;
    }

    .opcje2 {
      height: 9vh;
    }

    #map {
      display: none;
    }

    #tlo {
      display: block;
      background: black;
      height: 108vh;
    }

    .pils {
      height: 64vh;
    }
  }

  @media only screen and (max-height: 920px) {
    #map {
      height: 1120px;
    }
    #prawa {
      height: 1047px;
    }
    #tlo {
      height: 1120px;
    }

    .oceny {
      height: 120px;
    }

    .opcje {
      height: 58px;
    }

 

    .opcjeDouble {
      height: 72px;
    }

    .opcje2 {
      height: 65px;
    }

    .detaleCont {
      height: 709px;
      margin-top: 51px;
    }
 
  }

  @media only screen and (max-width: 395px) {
    #tekstW {
      display: none;
    }
    #prawa {
      width: 94vw;
    }
    #drukarkaW {
      margin-left: 23vw;
      margin-top: 2vh;
    }
  }



